# JSON exercise

Download the data from [**here**](https://drive.google.com/file/d/1DGaX5AVfYhmWeb15lI-MzUbSKTYSz9fQ/view?usp=sharing) and answer following questions:
1. Find the 10 countries with most projects
2. What are top 10 sectors with projects?
3. Find the top 10 major project themes (using column 'mjtheme_namecode')
4. In 3. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

In [1]:
import pandas as pd

In [2]:
url = "http://api.open-notify.org/astros.json"
first_json = pd.read_json(url)
first_json.head()

                                             people  number  message
0        {'craft': 'ISS', 'name': 'Oleg Kononenko'}      12  success
1          {'craft': 'ISS', 'name': 'Nikolai Chub'}      12  success
2  {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}      12  success
3      {'craft': 'ISS', 'name': 'Matthew Dominick'}      12  success
4       {'craft': 'ISS', 'name': 'Michael Barratt'}      12  success

In [3]:
first_json.to_json('json_columns.json', orient="columns")
first_json.to_json('json_index.json', orient="index")

In [4]:
df = pd.read_json("world_bank_projects.json")

In [5]:
first_json.head()

                                             people  number  message
0        {'craft': 'ISS', 'name': 'Oleg Kononenko'}      12  success
1          {'craft': 'ISS', 'name': 'Nikolai Chub'}      12  success
2  {'craft': 'ISS', 'name': 'Tracy Caldwell Dyson'}      12  success
3      {'craft': 'ISS', 'name': 'Matthew Dominick'}      12  success
4       {'craft': 'ISS', 'name': 'Michael Barratt'}      12  success

In [6]:
import pandas as pd

# Assuming you have already loaded the data into a DataFrame called 'df'
df = pd.read_json("world_bank_projects.json")

# Print the first few rows (default is 5 rows)
print(df.head())

                                              sector supplementprojectflg  \
0  [{'Name': 'Primary education'}, {'Name': 'Seco...                    N
1  [{'Name': 'Public administration- Other social...                    N
2  [{'Name': 'Rural and Inter-Urban Roads and Hig...                    Y
3                [{'Name': 'Other social services'}]                    N
4  [{'Name': 'General industry and trade sector'}...                    N

  projectfinancialtype prodline  \
0                  IDA       PE
1                OTHER       RE
2                  IDA       PE
3                OTHER       RE
4                  IDA       PE

                                             mjtheme  idacommamt  \
0                                [Human development]   130000000
1  [Economic management, Social protection and ri...           0
2  [Trade and integration, Public sector governan...     6060000
3  [Social dev/gender/inclusion, Social dev/gende...           0
4  [Trade and integration, Financial and private ...    13100000

                                  impagency  \
0                     MINISTRY OF EDUCATION
1                       MINISTRY OF FINANCE
2  MINISTRY OF TRANSPORT AND COMMUNICATIONS
3  LABOR INTENSIVE PUBLIC WORKS PROJECT PMU
4            MINISTRY OF TRADE AND INDUSTRY

                                        project_name mjthemecode  \
0  Ethiopia General Education Quality Improvement...        8,11
1          TN: DTF Social Protection Reforms Support         1,6
2  Tuvalu Aviation Investment Project - Additiona...    5,2,11,6
3   Gov't and Civil Society Organization Partnership         7,7
4  Second Private Sector Competitiveness and Econ...         5,4

            closingdate  ...  \
0  2018-07-07T00:00:00Z  ...
1                   NaN  ...
2                   NaN  ...
3                   NaN  ...
4  2019-04-30T00:00:00Z  ...

                                 majorsector_percent board_approval_month  \
0  [{'Percent': 46, 'Name': 'Education'}, {'Perce...             November
1  [{'Percent': 70, 'Name': 'Public Administratio...             November
2       [{'Percent': 100, 'Name': 'Transportation'}]             November
3  [{'Percent': 100, 'Name': 'Health and other so...              October
4  [{'Percent': 50, 'Name': 'Industry and trade'}...              October

                                      theme_namecode  \
0      [{'code': '65', 'name': 'Education for all'}]
1  [{'code': '24', 'name': 'Other economic manage...
2  [{'code': '47', 'name': 'Regional integration'...
3  [{'code': '57', 'name': 'Participation and civ...
4  [{'code': '45', 'name': 'Export development an...

                               countryname  \
0  Federal Democratic Republic of Ethiopia
1                      Republic of Tunisia
2                                   Tuvalu
3                        Republic of Yemen
4                       Kingdom of Lesotho

                                                 url source  \
0  http://www.worldbank.org/projects/P129828/ethi...   IBRD
1  http://www.worldbank.org/projects/P144674?lang=en   IBRD
2  http://www.worldbank.org/projects/P145310?lang=en   IBRD
3  http://www.worldbank.org/projects/P144665?lang=en   IBRD
4  http://www.worldbank.org/projects/P144933/seco...   IBRD

  projectstatusdisplay ibrdcommamt  \
0               Active           0
1               Active           0
2               Active           0
3               Active           0
4               Active           0

                                     sector_namecode  \
0  [{'code': 'EP', 'name': 'Primary education'}, ...
1  [{'code': 'BS', 'name': 'Public administration...
2  [{'code': 'TI', 'name': 'Rural and Inter-Urban...
3  [{'code': 'JB', 'name': 'Other social services'}]
4  [{'code': 'YZ', 'name': 'General industry and ...

                                    _id
0  {'$oid': '52b213b38594d8a2be17c780'}
1  {'$oid': '52b213b38594d8a2be17c781'}
2  {'$oid': '52b213b38594d8a2be17c782'}
3  {'$oid': '52b213b38594d8a2be17c783'}
4  {'$oid': '52b213b38594d8a2be17c784'}

[5 rows x 50 columns]

1. Find the 10 countries with most projects

In [1]:
import pandas as pd
import json

# Load the JSON data
with open('world_bank_projects.json', 'r') as f:
    data = json.load(f)

# Convert JSON data to DataFrame
df = pd.json_normalize(data, record_path='mjtheme_namecode', meta=['countryname', 'project_name'])

# Count the number of projects per country
top_countries = df['countryname'].value_counts().head(10)

print("Top 10 countries with the most projects:")
print(top_countries)

Top 10 countries with the most projects:
countryname
Republic of Indonesia              56
Republic of India                  51
Socialist Republic of Vietnam      43
Federative Republic of Brazil      41
People's Republic of Bangladesh    41
People's Republic of China         40
Africa                             39
Republic of Yemen                  34
Kingdom of Morocco                 32
Republic of Mozambique             31
Name: count, dtype: int64

What are top 10 sectors with projects?

In [2]:
# Count the number of projects per sector
top_sectors = df['code'].value_counts().head(10)

print("\nTop 10 sectors with projects:")
print(top_sectors)

Top 10 sectors with projects:
code
11    250
10    216
8     210
2     199
6     168
4     146
7     130
5      77
9      50
1      38
Name: count, dtype: int64

3. Find the top 10 major project themes (using column 'mjtheme_namecode')

In [3]:
# Filter out rows where 'name' is not empty
theme_codes = df[df['name'] != '']

# Count the occurrences of each project theme
top_themes = theme_codes['name'].value_counts().head(10)

print("\nTop 10 major project themes:")
print(top_themes)

Top 10 major project themes:
name
Environment and natural resources management    223
Rural development                               202
Human development                               197
Public sector governance                        184
Social protection and risk management           158
Financial and private sector development        130
Social dev/gender/inclusion                     119
Trade and integration                            72
Urban development                                47
Economic management                              33
Name: count, dtype: int64

4. Create a dataframe with the missing names filled in for project themes

In [4]:
# Create a mapping from code to name
code_to_name = theme_codes.drop_duplicates(subset=['code', 'name']).set_index('code')['name'].to_dict()

# Fill in missing names based on the mapping
df['name_filled'] = df['code'].map(code_to_name)

print("\nDataFrame with missing names filled in:")
print(df.head())

DataFrame with missing names filled in:
  code                                   name  \
0    8                      Human development
1   11
2    1                    Economic management
3    6  Social protection and risk management
4    5                  Trade and integration

                               countryname  \
0  Federal Democratic Republic of Ethiopia
1  Federal Democratic Republic of Ethiopia
2                      Republic of Tunisia
3                      Republic of Tunisia
4                                   Tuvalu

                                        project_name  \
0  Ethiopia General Education Quality Improvement...
1  Ethiopia General Education Quality Improvement...
2          TN: DTF Social Protection Reforms Support
3          TN: DTF Social Protection Reforms Support
4  Tuvalu Aviation Investment Project - Additiona...

                                    name_filled
0                             Human development
1  Environment and natural resources management
2                           Economic management
3         Social protection and risk management
4                         Trade and integration